.hideSideNavBtn {
    float: right;
}

.meni-ko {
    padding-top: 30px;
}

.izaberi {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 500;
}

.btn-sloj {
    /* width: 230px !important; */
    text-align: left;
}

.mn-slojevi {
    height: 32px;
}

.btn-legend {
    float: right;
    width: 20px !important;
}

.mapa-container {
    padding-top:2px;
}

.ukloni-slojeve {
    padding-top: 80px!important;
}

.subkat {
    padding-left: 15px;
}

.searchfield {
    font-size: small;
    height: fit-content;
}

.showSideNavContainer {
    position: absolute;
    padding-top: 5px;
}

.showSideNavBtn {
    position: absolute;
    z-index:999;
}

.ogranicenje {
    padding-left: 20px;
    padding-top: 50px;
    font-size: x-small;
    color: gray;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  padding-top: 12px;
  height: 60% !important;
}
